__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
__MACOSX/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

logs/
nohup.out
Pattern/
Compartment/
Colocalization/
RNApatterns/
results/
Dataset/

.venv/
env/
conda_env/
